i{
    text-decoration: none;
    color: gray;
}

i:hover{
    color: rgb(59, 59, 59);
}

footer {
    background-color: #17a2b8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.info {
    width: 33%;
    display: inline-block;
    color: black;
    margin-left: 20px;
    margin-top: 12px;
    padding-bottom: 20px;
}

.support {
    display: inline-block;
    color: black;
    margin-left: 150px;
    font-size: 20px;
}

.support a {
    
    text-decoration: none;
    color: black;
}

.version {
    display: inline-block;
    color: black;
    margin-right: 10px;
    margin-top: 5px;
}

html{
    scroll-behavior: smooth;
}

main .alert{
    margin-top: 200px;
}

main{
    padding-bottom: 50px;
}

.estilo{
    color: rgb(26, 25, 25);
}

.login{
    margin-left: 620px;
    margin-top: 150px;
}

.logpass{
    padding-top: 5px;
    margin-left: 10px;
    font-size: 25px;
}

.logpass2{
    padding-top: 5px;
    margin-left: 20px;
    font-size: 25px;
}

.right{
    float: right;
}

.navbar-brand{
    font-size: 19px;
}

nav .config{
    float: right;
}